{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li style="list-style: none;line-height: 1.2em; ">
      
      <!-- <div class='xtime' style="display: inline; vertical-align: top;padding-left:-10px; margin-right: 10px;">  </div> -->

      {% if post.teaser %}
          <img class='post-teaser' src="{{post.teaser}}" style="display: inline-block;width: 150px;height:112px;vertical-align:top;">
      {% else %}
          <img class='post-teaser'  src="http://via.placeholder.com/150x112" style="display: inline-block;width: 150px;height:112px;vertical-align:top;">
      {% endif %}
      <div style="display: inline-block;width: 75%;padding-top:5px; padding-left: 5px;padding-bottom: 5px; " itemprop="description">
        <b style="line-height: 1em;"><i>{{ post.title }}</i> <div style="display: inline-block;float: right; color:#113285">{{post.year}}</div></b>
      
      <!-- {% if post.discription %}
      <br><div style="display: inline; color: #999">{{post.discription}}</div> 
      {% endif %} -->

      {% if post.authors%}
      <br>
      <div class='author' style="display: inline; ">  {{post.authors}} </div>
      {% endif %} 

      {% if post.publication %}
      <br> 
      <i style="color:#7B90D2"> {{post.publication}}</i>
      {% endif %} 
      <br>
      <div style="text-align: left;">
      {% if post.paperurl%}
      <a class='links' href="{{ post.paperurl }}" rel="paperurl"><img src="https://img.shields.io/badge/Paper-PDF-eb002a?color="></a> 
      {% endif %} 
      {% if post.arxiv%}
      <a class='links' href="{{ post.arxiv_url }}" rel="paperurl"><img src="https://img.shields.io/badge/{{post.arxiv}}-PDF-eb002a?labelColor=141414&logoColor=white&logo=arXiv"></a> 
      {% endif %}       
      {% if post.project%}
      <a class='links' href="{{ post.project }}" rel="paperurl"><img src="https://img.shields.io/badge/Project-eb002a?labelColor=141414&logoColor=white&logo="></a> 
      {% endif %}
      {% if post.code%} 
      <a href="https://github.com/vinthony/{{post.code}}"><img src="https://img.shields.io/github/stars/vinthony/{{ post.code }}.svg?style=flat&logo=github&label=Star&labelColor=141414&logoColor=white&color=0084ff"></a>
      {% endif %} 
    </div>
      </div> 

    </li>
 </article>
</div>
