{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<style type="text/css">
  body{
    line-height: 1em;
  }
  a{
    text-decoration: none;
  }
  .post-teaser{
    box-shadow: 3px 0px 3px #ccc;
  }
  a{
    color:#000;
  }
  .links{
    color: #77428D;
    float: left;
    display: block;
    margin: 0 2px;
  }
  .author b{
    color: #77428D;
  }
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li style="list-style: none;line-height: 1.2em;border-bottom: 1px solid #eee; margin-right: 20px">
  
      {% if post.teaser %}
          <img class='post-teaser' src="{{post.teaser}}" style="display: inline-block;width: 150px;height:112px;vertical-align:top;">
      {% else %}
          <img class='post-teaser'  src="http://via.placeholder.com/150x112" style="display: inline-block;width: 150px;height:112px;vertical-align:top;">
      {% endif %}
      <div style="display: inline-block;width: 75%;padding-left: 5px;padding-bottom: 5px; " itemprop="description">
        <b style="line-height: 1em; font-size: 20px;"><i >📜 {{ post.title }}</i></b>
      
      <!-- {% if post.discription %}
      <br><div style="display: inline; color: #999">{{post.discription}}</div> 
      {% endif %} -->

      {% if post.authors%}
      <br>
      <div class='author' style="display: inline; ">  {{post.authors}}</div>
      {% endif %} 

      {% if post.publication %}
      <br> 
      <i style="color:#7B90D2"> {{post.publication}}</i>
      {% endif %} 
      <br>
      <div style="text-align: left;">
      {% if post.paperurl%}
      <a class='links' href="{{ post.paperurl }}" rel="paperurl">[PDF]</a> 
      {% endif %} 
      {% if post.arxiv%}
      <a class='links' href="{{ post.arxiv }}" rel="paperurl">[ArXiv]</a> 
      {% endif %}       
      {% if post.project%}
      <a class='links' href="{{ post.project }}" rel="paperurl">[Project]</a> 
      {% endif %}
      {% if post.code%} 
      <!-- <a class='links' href="{{ post.code }}" rel="paperurl">[Github]</a> -->
      <span style="display:inline-block">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="{{ post.code }}" data-icon="octicon-star" data-show-count="true" aria-label="Star vinthony/ghost-free-shadow-removal on GitHub">Github</a>
      </span>
      {% endif %} 
    </div>
      </div> 

    </li>
 </article>
</div>
