{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li style="list-style: none; line-height: 1.2em; margin-bottom: 10px;">
  
     <!--  {% if post.teaser%}
          <img class='post-teaser' src="{{post.teaser}}" style="display: inline-block;width: 125px;height:125px;margin: 0 0 1.3em;vertical-align:top;">
      {% else %}
          <img class='post-teaser'  src="http://via.placeholder.com/125x125" style="display: inline-block;width: 125px;margin: 0 0 1.3em;vertical-align:top;">
      {% endif %} -->
      <div style="display: inline-block;width: 80%;" itemprop="description">
        <b style="font-size: 1em;"><i >📜 {{ post.title }}</i></b>
      
      <!-- {% if post.discription %}
      <br><div style="display: inline; color: #999">{{post.discription}}</div> 
      {% endif %} -->

      {% if post.authors%}
      <br>
      <div class='author' style="display: inline; ">  {{post.authors}}</div>
      {% endif %} 

      {% if post.publication %}
      <br> 
      <i style="color:#7B90D2"> {{post.publication}}</i>
      {% endif %} 
      <br>
      <b>
      {% if post.paperurl %}
      <a class='links' href="{{ post.paperurl }}" rel="paperurl">[PDF]</a> 
      {% endif %} 
      {% if post.arxiv %}
      <a class='links' href="{{ post.arxiv }}" rel="paperurl">[ArXiv]</a> 
      {% endif %} 
      {% if post.code %}
      <span style="display:inline-block">
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="{{ post.code }}" data-icon="octicon-star" data-show-count="true">Github</a>
      </span>
      {% endif %} 
      {% if post.project%}
      <a class='links' href="{{ post.project }}" rel="paperurl">[Project]</a> 
      {% endif %} 
    </b>
      </div> 

    </li>
 </article>
</div>
