{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<style type="text/css">
  .post-teaser{
    box-shadow: 3px 0px 3px #ccc;
  }
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li style="list-style: none">
  
      {% if post.teaser%}
          <img class='post-teaser' src="{{post.teaser}}" style="display: inline-block;width: 125px;height:125px;margin: 0 0 1.3em;vertical-align:top;">
      {% else %}
          <img class='post-teaser'  src="http://via.placeholder.com/125x125" style="display: inline-block;width: 125px;margin: 0 0 1.3em;vertical-align:top;">
      {% endif %}
      <div style="display: inline-block;width: 82%;padding-left: 5px;" itemprop="description"><b><i>{{ post.title }}</i></b>
      
      {% if post.discription %}
      <br><div style="display: inline; color: #999">{{post.discription}}</div> 
      {% endif %}

      {% if post.authors%}
      <br><div style="display: inline; color: #ccc">{{post.authors}}</div>
      {% endif %} 


      {% if post.publication %}
      <br><b>In</b> <i>{{post.publication}}</i>
      {% endif %} 
      <br>
      {% if post.paperurl%}
      <a href="{{ post.paperurl }}" rel="paperurl">[PDF]</a> 
      {% endif %} 
      {% if post.arxiv%}
      <a href="{{ post.arxiv }}" rel="paperurl">[ArXiv]</a> 
      {% endif %} 
      {% if post.link%}
      <a href="{{ post.link }}" rel="paperurl">[Github]</a> 
      {% endif %} 
      </div> 

    </li>
 </article>
</div>
