{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style type="text/css">
  .post-teaser{
    box-shadow: 3px 0px 3px #ccc;
  }

</style>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li style="list-style: none">
    <!-- {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %} -->
   <!--  <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3> -->
    <!-- {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %} -->
    {% if post.venue%}
      {% if post.teaser%}
          <img class='post-teaser' src="{{post.teaser}}" style="display: inline-block;width: 125px;height:125px;margin: 0 0 1.3em;vertical-align:top;">
      {% else %}
          <img class='post-teaser' src="http://via.placeholder.com/125x125" style="display: inline-block;width: 125px;margin: 0 0 1.3em;vertical-align:top;">
      {% endif %}
      <div style="display: inline-block;width: 82%;padding-left: 5px;" itemprop="description"><b><i>{{ post.title }}</i></b>
      {% if post.authors%}
      <br><div style="display: inline; color: #999">{{post.authors}}</div>
      {% endif %} 

      {% if post.publication %}<br><div style="display: inline; color: #ccc"><b>In</b> <i style="color:#666">{{post.publication}}</i></div>
      {% endif %} 
      <br>
      {% if post.paperurl%}
      <a href="{{ post.paperurl }}" rel="paperurl">[PDF]</a> 
      {% endif %} 
      {% if post.arxiv%}
      <a href="{{ post.arxiv }}" rel="paperurl">[ArXiv]</a> 
      {% endif %} 
      {% if post.code%}
      <a href="{{ post.code }}" rel="paperurl">[Github]</a> 
      {% endif %} 
      </div> 
    {% endif %}

    </li>
 </article>
</div>
