{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<style type="text/css">
  .author__urls li{
     display: inline-block;
     margin-bottom: 0;
  }
  .author__urls a{
    font-size: 20px;
    padding:0;
  }
  .author__bio a{
    color:#77428D;
  }
</style>

<link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">

<div itemscope itemtype="http://schema.org/Person">
  
  <div class="author__avatar" style="padding-left: 40px;float:left;padding-right: 20px;">
    {% if author.avatar contains "://" %}
    	<img  src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img  src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>
  <div class="author__content">
    <div style="padding-left: 40px;line-height:1em;font-size:xx-large; font-family: 'Stylish', serif; color: #77428D;">
      {{ author.name }} <span style="font-family: 'Ma Shan Zheng', cursive;" >寸晓东</span>
      <div class="author__urls-wrapper" style="display: inline-block;">
      <ul class="author__urls social-icons" style="margin-left: 10px;" >
        {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> </a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> </a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> </a></li>
      {% endif %}
     
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> </a></li>
      {% endif %}
     
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i> </a></li>
      {% endif %}

      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> </a></li>
      {% endif %}

      {% if author.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author.steam }}"><i class="fa fa-fw fa-steam-square" aria-hidden="true"></i> </a></li>
      {% endif %}

      {% if author.weibo %}
        <li><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fa fa-fw fa-weibo" aria-hidden="true"></i> </a></li>
      {% endif %}

      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar-square ai-fw"></i></a></li>
      {% endif %}
        </ul>
      </div>
    </div>
    {% if author.bio %}<p class="author__bio" style="width: 85%;text-align: justify;line-height: 1em;padding-left: 40px; margin-top: 5px;line-height: 1.1em;">  
      I am a Ph.D. student at <a href="http://um.edu.mo/">University of Macau</a>, under the supervision of Dr. <a href="http://www.cis.umac.mo/~cmpun/">Chi-Man Pun</a>.
      Before that, I received my B.Sc and M.Sc. degrees in Computer Science from <a href="https://en.xidian.edu.cn/">Xidian University</a>  and University of Macau in 2015 and 2018 respectively.
      Currently, I am focusing on the application of Deep Learning based methods for Computer Vision and Computational Photograpy.</p>{% endif %}
  </div>

</div>

<div style="clear: both; margin-bottom: 20px;"></div>
