{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<style type="text/css">
  .author__urls li{
     display: inline-block;
     margin-bottom: 0;
  }
  .author__urls a{
    font-size: 20px;
    padding:0;
  }
  .author__bio a{
    color:#77428D;
  }
</style>

<link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">

<div itemscope itemtype="http://schema.org/Person">
  
  <div class="author__avatar" style="padding-left: 40px;float:left;padding-right: 20px;">
    {% if author.avatar contains "://" %}
    	<img  src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img  src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>
  <div class="author__content">
    <div style="padding-left: 40px;line-height:1em;font-size:xx-large; font-family: 'Stylish', serif; color: #77428D;">
      {{ author.name }} <span style="font-family: 'Ma Shan Zheng', cursive;" >寸晓东</span>
      <div class="author__urls-wrapper" style="display: inline-block;">
       
      </div>
    </div>
    {% if author.bio %}<p class="author__bio" style="width: 85%;text-align: justify;line-height: 1em;padding-left: 40px; margin-top: 5px;line-height: 1.1em;">  
      I am a Ph.D. student at <a href="http://um.edu.mo/">University of Macau</a>, under the supervision of Dr. <a href="http://www.cis.umac.mo/~cmpun/">Chi-Man Pun</a>.
      Before that, I received my B.Sc and M.Sc. degrees in Computer Science from <a href="https://en.xidian.edu.cn/">Xidian University</a>  and University of Macau in 2015 and 2018 respectively.
      Currently, I am focusing on the application of Deep Learning based methods for Computer Vision and Computational Photograpy. <br><br>

<a href="mailto:vinthony@gmail.com"><img src="https://img.shields.io/badge/email-vinthony%40gmail.com-orange?labelColor=141414&color=d14836&logoColor=white"></a> 
<a href="http://github.com/vinthony"><img src="https://img.shields.io/badge/dynamic/json?color=181717&label=Follower&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dgithub%26queryKey%3Dvinthony&logo=github&labelColor=141414&logoColor=white"></a>
<a href="https://www.weibo.com/vinthony/home?topnav=1&wvr=6"><img src="https://img.shields.io/badge/dynamic/json?color=e6162d&label=微博&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dweibo%26queryKey%3D2182314060&logo=Sina%20Weibo&labelColor=141414&logoColor=white"></a>
<a href="https://www.zhihu.com/people/vinthony"><img src="https://img.shields.io/badge/dynamic/json?color=0084ff&label=知乎&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dzhihu%26queryKey%3Dvinthony&logo=Zhihu&labelColor=141414&logoColor=white"></a>
<a href="https://www.instagram.com/vinthony/">
<img 
src="https://img.shields.io/badge/dynamic/json?color=e4405f&label=Instgram&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dinstagram%26queryKey%3Dvinthony&logo=Instagram&labelColor=141414&logoColor=white"></a>
<a href="https://scholar.google.com/citations?user=p42qwXcAAAAJ">
  <img src="https://img.shields.io/badge/Google Scholar-orange">
</a>
    </p>{% endif %}

  </div>

</div>
<div style="clear: both; margin-bottom: 20px;"></div>

