<div id="health-container" style="height: 30%;"></div>
<script type="text/javascript">
  var dom2 = document.getElementById("health-container");
    var myChart2 = echarts.init(dom2,"vintage");
    var app = {};
    option = null;

jQuery.get('https://cors-anywhere.herokuapp.com/http://s1.natapp.cc:37373/fitness.csv',function(data,status){
    chartData = new Array();
    lines = data.split(',');
    for (var i = lines.length - 1; i >= 0; i--) {
        var dt = new Date();
        dt.setDate(dt.getDate() - i);
        chartData.push([echarts.format.formatTime('yyyy-MM-dd', dt),Number(lines[i])]);
    };
    current = new Date();
    var dateList = chartData.map(function (item) {
    return item[0];
    });

    var valueList = chartData.map(function (item) {
        return item[1];
    });

    var valueList2 = chartData.map(function (item) {
        return item[1] + 'kg';
    });

    option = {
        padding:0,
        title:{
            show:false
        },
        xAxis:{
            data: dateList
        },
        yAxis: {
            splitLine: {show: true},
            min: function(value) {
                return Math.round(value.min - 1);
            },
            max:function(value) {
                return Math.round(value.max + 1);
            },
            type: 'value',
            axisLabel:{formatter: '{value} kg'}
        },
        tooltip: {
          trigger: 'axis',
            axisPointer: {
              animation: false
            }
        },
        series: [{
            type: 'line',
            smooth: true,
            label:'kg',
            data: valueList
        }],
        top:10
    };;
    if (option && typeof option === "object") {
        myChart2.setOption(option, true);
    };
    });

</script>
